.product-page-container {
  width: 80%;
  margin: 30px auto;
  text-align: right;
  background: #f3f3f3;
  padding: 1rem;

  .back {
    background: #edb300;
    display: inline-block;
    padding: 0.1rem 0.7rem;
    margin-bottom: 14px;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
  }
  
  .content {
    display: flex;
    flex-direction: row-reverse;
    
    .left {
      position: relative;
      flex-grow: 1;
      padding: 1.5rem;
      
      .rate-panel {
        position: absolute;
        display: flex;
        
        .dot {
          width: 15px;
          height: 10px;
          border-radius: 20px;
          margin-right: 3px;
          
          &.gold {
            background: #e9d209;
          }
          
          &.silver {
            background: #7c7c7c;
          }
        }
      }
        
      .title {
        font-weight: 700;
        font-size: 130%;
        cursor: default;
      }

      .price-panel {
        margin-top: 12px;

        .main-price {
          color: #a00a;
          text-decoration: line-through;
        }
      }

      .btn-panel {
        position: absolute;
        bottom: 20px;
        right: 20px;
        
        .btn {
          
          &:hover {
            background: var(--color-2);
            border-color: var(--color-2);
          }
          
          &.deactive {
            background: var(--color-8);
            border-color: var(--color-8);
            cursor: not-allowed;
          }
        }
      }
    }
    
    .right {
      flex-basis: 30%;

      img {
        width: 100%;
      }
    }
  }
}

@media(max-width: 800px) {
  .product-page-container {
    margin-top: 80px;

    .content {

      .right {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .left {
        padding-bottom: 4rem;
      }
    }
  }
}