.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background: var(--color-1);
  z-index: 0;
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.55);
  
  .manu-btn {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
    
    .menu-item {
      position: relative;
      margin-right: 15px;
      padding: 0.3rem 0.8rem;
      text-align: center;
      cursor: pointer;
      
      &:hover {
        
        .background-layer {
          height: 60%;
          bottom: 20%;
        }
      }
      
      .menu-item-text {
        position: absolute;
        z-index: 2;
      }
      
      .background-layer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background: var(--color-2);
        z-index: 1;
      }
    }
  }
  
  .logo {
    position: absolute;
    width: 100%;
    text-align: center;
    cursor: pointer;
    
    img {
      width: 40px;
    }
  }
  
  .navbar-left {
    display: flex;
    
    .search {
      margin-left: 35px;
      z-index: 2;

      input {
        border: none;
        margin-top: 11px;
        text-align: right;
        background: #f3f3f3;
        padding: 0.3rem 0.7rem;
        outline: none;
        border-radius: 4px;
      }
    }
    
    .user-data {
      position: relative;
      display: flex;
      margin-left: 40px;
      z-index: 2;
      cursor: pointer;
      
      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: var(--color-4);
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        
        &:hover {
          transform: rotateZ(-135deg);
          
          img {
            transform: rotateZ(135deg) translateY(-3px);
          }
        }
        
        &.active {
          transform: rotateZ(-135deg);
          
          img {
            transform: rotateZ(135deg) translateY(-3px);
          }
        }
        
        img {
          width: 45px;
          transform: translateY(-3px);
        }
      }
    }
      
    .options {
      position: absolute;
      top: 72px;
      left: -15px;
      width: 150px;
      text-align: center;
      background: #e4e4e4;
      border-radius: 5px;

      &.close {
        animation: jhbcjhbfjhfb 0.5s ease-out;
        opacity: 0;
      }
      
      &.open {
        animation: jhbcjhbfjhfb 0.5s ease-in reverse;
      }

      .option-item {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #606362;
        font-size: 90%;
        cursor: pointer;

        &:hover {
          
          i {
            color: #a6a57a;
          }
        }
        
        i {
          margin-left: 5px;
          color: #986651;
          font-size: 115%;
        }
        
        &:last-child {
          border-bottom: none;
        }
      }

      .option-arrow {
        position: absolute;
        top: -24px;
        left: 28px;
        border: 12px solid #e4e4e4;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
      }
    }
  }
}

@media(max-width: 800px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    &.open {
      flex-direction: column;
      justify-content: center;
      height: 100vh;

      .menu-btn {

        .menu-btn-line {

          &:first-child {
            transform: rotateZ(45deg) translate(7px, 7px);
          }

          &:nth-child(2) {
            opacity: 0;
          }
          
          &:last-child {
            transform: rotateZ(-45deg) translate(9px, -10px);
          }
        }
      }

      .logo {
        top: 15px;
      }

      .navbar-left {
        flex-direction: column-reverse;
        width: 90%;

        .search {
          margin-left: 0;
          
          input {
            width: 100% !important;
            text-align: center;
          }
        }
        
        .user-data {
          margin-left: 0;
          margin-top: 10px;
          width: 100%;
          display: block;

          .image {
            border-top-left-radius: 25px;
            margin: 0 auto;
          }

          .options {
            position: relative;
            width: 100%;
            top: 0;
            left: 0;
            background: transparent;
            opacity: 1;
            margin-bottom: 40px;

            .option-item {
              font-size: 100%;
              padding-top: 8px;
              padding-bottom: 8px;
              border-bottom: 2px solid var(--color-2);
            }
            
            .option-arrow {
              display: none;
            }
          }
        }
      }
      
      .menu {
        display: block;
        width: 90%;
        margin: 0 auto;
        padding: 0;

        .menu-item {
          margin: 0;
          margin-bottom: 8px;

          .background-layer {
            height: 2px;
            bottom: 0;
          }
          
          .menu-item-text {
            opacity: 0;
          }
        }
      }

    }

    &.close {
      .navbar-left {
        display: none;
      }

      .logo {
        text-align: left;
        padding-left: 20px;
      }

      .menu {
        display: none;
      }
    }
    
    .menu-btn {
      position: absolute;
      display: block;
      width: 33px;
      top: 15px;
      right: 20px;
      cursor: pointer;
      
      &:hover {
        
        .menu-btn-line {
          background: var(--color-4);
        }
      }
      
      .menu-btn-line {
        width: 100%;
        height: 5px;
        background: var(--color-7);
        margin-bottom: 7px;
        border-radius: 999px;
        
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}

@keyframes jhbcjhbfjhfb {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}