.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid red;

  .menu {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
    
    .menu-item {
      border: 1px solid red;
      margin-right: 15px;
    }
  }
  
  .logo {
    position: absolute;
    width: 100%;
    text-align: center;
    
    span {
      cursor: pointer;
      border: 1px solid red;
      
      &:hover {
        color: red;
      }
    }
  }
  
  .user-data {
    border: 1px solid red;
    margin-left: 30px;
  }
}